In [1]:
import pandas as pd

In [4]:
measurements = pd.DataFrame(pd.read_csv('Resources/hawaii_measurements.csv'))
stations = pd.DataFrame(pd.read_csv('Resources/hawaii_stations.csv'))

In [40]:
print(measurements.info())
print(measurements.isnull().sum())
measurements.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
station    19550 non-null object
date       19550 non-null object
prcp       18103 non-null float64
tobs       19550 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 611.0+ KB
None
station       0
date          0
prcp       1447
tobs          0
dtype: int64

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [50]:
print(stations.isnull().sum())
stations

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [53]:
nans = measurements.sort_values('prcp', ascending = True).tail(1447)
nans['station'].value_counts()

USC00517948    689
USC00514830    265
USC00518838    169
USC00516128    128
USC00519523     97
USC00511918     47
USC00519397     39
USC00513117     13
Name: station, dtype: int64